<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<configuration>
    <!-- MapReduce framework name -->
    <property>
        <name>mapreduce.framework.name</name>
        <value>yarn</value>
    </property>

    <!-- Job history server address -->
    <property>
        <name>mapreduce.jobhistory.address</name>
        <value>{{ groups['master'][0] }}:10020</value>
    </property>

    <!-- Job history server web interface -->
    <property>
        <name>mapreduce.jobhistory.webapp.address</name>
        <value>{{ groups['master'][0] }}:19888</value>
    </property>
</configuration>
