<configuration>
    <!-- ResourceManager hostname -->
    <property>
        <name>yarn.resourcemanager.hostname</name>
        <value>{{ hostvars[groups['master'][0]]['ansible_host'] }}</value>
    </property>

    <!-- NodeManager auxiliary services -->
    <property>
        <name>yarn.nodemanager.aux-services</name>
        <value>mapreduce_shuffle</value>
    </property>

    <!-- NodeManager local directories -->
    <property>
        <name>yarn.nodemanager.local-dirs</name>
        <value>/var/hadoop/yarn/local</value>
    </property>

    <!-- NodeManager log directories -->
    <property>
        <name>yarn.nodemanager.log-dirs</name>
        <value>/var/hadoop/yarn/logs</value>
    </property>

    <!-- Enable NodeManager recovery -->
    <property>
        <name>yarn.nodemanager.recovery.enabled</name>
        <value>true</value>
    </property>

    <!-- ResourceManager address -->
    <property>
        <name>yarn.resourcemanager.address</name>
        <value>{{ hostvars[groups['master'][0]]['ansible_host'] }}:8032</value>
    </property>

    <!-- ResourceManager scheduler address -->
    <property>
        <name>yarn.resourcemanager.scheduler.address</name>
        <value>{{ hostvars[groups['master'][0]]['ansible_host'] }}:8030</value>
    </property>

    <!-- ResourceManager webapp address -->
    <property>
        <name>yarn.resourcemanager.webapp.address</name>
        <value>{{ hostvars[groups['master'][0]]['ansible_host'] }}:8088</value>
    </property>
</configuration>
